<div id='command-table'>
<%= render partial: 'command_table', locals: {commands: @commands} %>
</div>
<div class='row'>
  <div class='pull-right'>
    Translation Language:
    <%= select("language", 'options', @languages) %>
  </div>
  <div class='pull-left'>
    Voice Recognition language:
    <%= select("recognition", 'options', @languages) %>
  </div>
  <div class='clear-fix'><div><br/><br/>
  <div>
    <p class="hints">
      <textarea id='input' class='form-control' rows='10'></textarea><br/>
      <button type='button' id='speak' class='btn btn-primary center-block' data-click='off'>Start Speaking</button>
    </p>
  </div>
  </div>
  <div id='results'>
  </div>
</div>
<%= render partial: 'command_form', locals: {command: @command} %>
