<!DOCTYPE html>
<html>
  <head>
    <title>Gummy Translation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class='text-center'>Translation Gummy</h1>
    <div class='container'>
    <%= yield %>
    </div>
  </body>
</html>
